@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/******************************
PALETAS DE CORES
*******************************/
:root{
  --bg: #0F172A;
  --bg-secondary:#fff;
  --color: #fff;
  --color-2: #dedede;
  --color-3:blanchedalmond;
  --button:#0F172A;
  --label: #234187;
  
}

/******************************
 FIM DA PALETAS DE CORES
*******************************/

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to top, #dedede , #dedfff, #cfd8e5);

    display: grid;
    place-items: center;
    min-height: 100vh;
    padding: 28px;
}

#container-corpo{
   display: grid; 
   grid-template-columns: 0.95fr 1.05fr;
   overflow: hidden;
   width:min(100%, 980px) ;
   min-height: 620px;
   border: 1px solid  rgba(255, 255, 255, 0.76);
   border-radius: 28px;
   
}


.caixa-1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
    padding: 10%;
}
.caixa-1  h2{
    font-size: 1rem;
    color: var(--color-3);
    padding: 8px;
    text-transform: uppercase;
}

.caixa-1 h1{
   padding: 10px;
   color: var(--color-2);
    
}

.caixa-1 p{
    padding: 10px;
    color: var(--color);
    line-height: 25px;
}


.caixa-2{
    background-color:var(--bg-secondary);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5%;
}

.painel-senha{
  margin-bottom: 30px;
  
}

.senha-gerada{
   
   display: grid;
   grid-template-columns: minmax(0, 1fr)auto;
   min-width: 350px;
   
}

label{
    font-weight: 900;
    font-size: 1.2rem;
    color: #234187;
}
input[type="text"]{
    font-size: 1rem;
    border:  1px solid #888080;
    margin-top: 10px;
    border-radius: 10px;
    width: 70%;
    min-height: 54px;
}
#botao{
    min-height: 52px;
    min-width: 54px;
    border-radius: 12px;
    border:  1px solid #888080;
    padding: 10px 16px;
    font-weight:bold;
    background-color: var(--label);
    color: var(--color-2);
}
#botao:hover{
    background-color: var(--button);
}